.widget-kpi {
    padding: 1rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.kpi-label {
    font-size: 1.3em;
    color: var(--text-h);
}

.kpi-value {
    font-size: 3em;
    font-weight: 500;
    color: var(--text-h);
}

.kpi-unit {
    font-size: 0.35em;
    font-weight: 400;
    margin-left: 4px;
    color: var(--text);
}