/* ----- IMAGE ----- */
.widget-image {
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-scaled {
    max-width: 97%;
    padding: 2%;
}

.image-original {
    max-width: 97%;
    padding: 2%;
}

.image-centered {
    max-width: 97%;
    padding: 2%;
}